In [1]:
import pandas as pd

In [2]:
ds=pd.read_csv("Experience-Salary.csv")

In [ ]:
ds

In [3]:
ds.head()
#default it will take 5rows

   exp(in months)  salary(in thousands)
0       18.290293             16.521825
1       17.023407             11.666234
2       26.343613             23.167255
3       19.105834             20.877145
4       27.742516             23.166236

In [14]:
ds.tail()

     exp(in months)  salary(in thousands)
995       22.161741             24.666502
996       32.266497             24.160270
997       17.039030             19.903797
998       25.222124             21.974413
999       16.418028             19.634787

In [4]:
ds.head(10)

   exp(in months)  salary(in thousands)
0       18.290293             16.521825
1       17.023407             11.666234
2       26.343613             23.167255
3       19.105834             20.877145
4       27.742516             23.166236
5       31.671171             32.966251
6       14.186399             15.294170
7       29.932845             33.159461
8       32.841327             32.032653
9       26.873869             32.347784

In [9]:
#Information about the dataset
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   exp(in months)        1000 non-null   float64
 1   salary(in thousands)  1000 non-null   float64
dtypes: float64(2)
memory usage: 15.8 KB

In [7]:
#Summary statistics
ds.describe()

       exp(in months)  salary(in thousands)
count     1000.000000           1000.000000
mean        26.157825             26.722597
std          8.717091              8.844761
min          0.697594             -1.276342
25%         20.073600             20.531008
50%         25.875225             26.745576
75%         32.406986             32.615753
max         49.463222             55.297016

In [12]:
ds.duplicated().sum()

0

In [13]:
ds.dtypes

exp(in months)          float64
salary(in thousands)    float64
dtype: object

In [15]:
ds.columns

Index(['exp(in months)', 'salary(in thousands)'], dtype='object')

In [16]:
ds.isnull()

     exp(in months)  salary(in thousands)
0             False                 False
1             False                 False
2             False                 False
3             False                 False
4             False                 False
..              ...                   ...
995           False                 False
996           False                 False
997           False                 False
998           False                 False
999           False                 False

[1000 rows x 2 columns]

In [17]:
ds.isnull().sum()

exp(in months)          0
salary(in thousands)    0
dtype: int64

In [22]:
y=ds['salary(in thousands)']

In [23]:
y

0      16.521825
1      11.666234
2      23.167255
3      20.877145
4      23.166236
         ...
995    24.666502
996    24.160270
997    19.903797
998    21.974413
999    19.634787
Name: salary(in thousands), Length: 1000, dtype: float64

In [24]:
x=ds['exp(in months)']

In [25]:
x

0      18.290293
1      17.023407
2      26.343613
3      19.105834
4      27.742516
         ...
995    22.161741
996    32.266497
997    17.039030
998    25.222124
999    16.418028
Name: exp(in months), Length: 1000, dtype: float64

In [26]:
x.shape

(1000,)

In [27]:
y.shape

(1000,)

In [29]:
X=x.values.reshape(1000,1)

In [31]:
X.shape

(1000, 1)

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
model=LinearRegression()

In [34]:
model.fit(X,y)

LinearRegression()

In [35]:
model.coef_

array([0.82284666])

In [36]:
model.intercept_

5.198718564988596

In [40]:
model.predict ( [ [17] ] )

array([19.18711181])

In [41]:
import joblib

In [42]:
joblib.dump(model,"predictsalary.model")

['predictsalary.model']